@media (max-width: 479px) and (min-width: 320px) {

    .header-div2 input {
        width: 300px;
        margin-top: -2px !important;
    }
    .menubar {
        display: inline-block;
        color: white;
        font-size: 15px;
        margin-top: 10px;
    }
    .col-md-12.header-div2 h2 {
        font-size: 15px;
        opacity:0.5;
    }

    .col-md-2 img {
        margin-left: 100%;
        height: 25px;
        padding: 0px;
        
    }

    .header-div2 p {
        margin-top: 10px!important;
        color: white;
        font-size: 15px;
        text-align:center;
    }
    .btn.btn-outline-warning.btn-back.header-text {
        display: none;
    }
    .btn.btn-warning.header-text {
        display: none;
    }
    .header-div2 a {
        margin-top: -63px;
    }
    .sect-1-div1 h1
    {
        font-size:16px;
    }
    .sect-1-div1 a{
        font-size: 15px;
        text-align:center;
    }
    
}
